@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 29, 29);
    /* Creds https://stackoverflow.com/users/2765346/hristo-eftimov */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: -moz-scrollbars-none; /* Old Firefox */
}

body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

section {
    color: white;
    font-family: 'Poppins', sans-serif;
    display: grid;
    align-items: center;
    align-content: center;
    height: 100vh;
    margin: auto;
    padding-left: 10vh;

}

.navigation-bar {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 1;
    position: sticky;
    width: 100%;
    height: 10vh;
}

.navigation-right {
    float: right;
    height: 100%;
    width: 20%;
    display: flex; /* Use flex display to align its children */
    flex-wrap: wrap;
    padding: 1%;
    align-content: center;
    justify-content: flex-end; /* Align its children to the right within the flex container */
    align-items: center; /* Vertically center its children */
    
}

.navigation-right .navigation-bar-right-icon {
    width: 100%; /* Set the width to 100% */
    height: auto;
    
}

