@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --dark-grey: #1d1d1d;
    --eggshell: #F0EAD6;
    --floral-white: #F9F7F0;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--eggshell);
    /* Creds https://stackoverflow.com/users/2765346/hristo-eftimov */
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    height: 100%;
}


body::-webkit-scrollbar{
    display: none;
  }

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

section {
    color: var(--dark-grey);
    font-family: 'Poppins', sans-serif;
    display: grid;
    align-items: center;
    align-content: center;
    height: 100vh;
    margin: auto;
    padding-left: 5vh;

}

/**
 * ======================================= Pointer =======================================
*/
body:hover > #pointer {
    opacity: 1;
}

#pointer{
    background-color: var(--dark-grey);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    pointer-events: none; /* Allow mouse events to pass through */
    opacity: 0;
    transition: opacity 200ms ease;
  }


/**
 * ======================================= Navigation bar =======================================
*/
#navigation-bar {
    z-index: 1;
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    width: 100%;
    height: 7vh;
    min-height: 50px;
    padding: 0 0;
}


#navigation-right, #navigation-left {
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: inherit; /* Use min-height to inherit the height from navigation-bar */

    background-color: var(--floral-white);
}

#navigation-right {
    border-radius: 0% 0% 0% 15px;
}

#navigation-left {
    border-radius: 0% 0% 15px 0%;
}




/* Right navigation bar icon containers */
.navigation-bar-icon {
    width: 50%;
    height: 50%;
    min-width: 20px;
  }



/* Right navigation bar icon images */
.navigation-bar-icon img {
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: contain;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    opacity: 1;

}


/* Default (landscape) mode visibility */
#menu-icon, #close-menu-icon, #dark-light-mode-small-media-icon {
    display: none;
}


/* Remove tap highlight on linked icons */
a:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* Tablet and Phone */
@media screen and (max-width: 750px) {
    #github-icon, #linkedin-icon, #email-icon, #dark-light-mode-large-media-icon {
        display: none;

    }

    /* Menu icon */
    #menu-icon {      
        display: block;

    }

    #navigation-bar {
        grid-template-columns: 14% 72% 14%; 
    }

    #navigation-right {
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        background-color: transparent;
        justify-content: start;
    }

    #navigation-left {
        background-color: transparent;
        margin-top: 1px;
    }

    /* Add a psuedo element to force proper alignment*/
    #navigation-right::before {
        content: "";
        height: -100px;
    }


  }

/**
 * ======================================= Something else ======================================= 
*/